node_modules/
.expo/
.expo-shared/
*.log
*.bak
*.bak2
*.bak3
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
dist/
build/
ios/Pods/
android/.gradle/
android/build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
