# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
*.swiftpm

# CocoaPods
Pods/
Podfile.lock

# Environment
.xcode.env.local
.xcode*.env*

# Build artifacts
build 2/
*.build

# OS
.DS_Store
